<configuration debug="true">

    <property name="PATTERN" value="%d{HH:mm:ss.SSS} [%12thread] %highlight(%-5level) %logger{36} - %msg%n"/>
    <property name="PATTERN_RAW" value="%d{HH:mm:ss.SSS} [%12thread] %-5level %logger{36} - %msg%n"/>
    <property name="MAX_FILE_SIZE" value="16MB"/>
    <property name="CHARSET" value="UTF-8"/>
    <property name="FILE_NAME" value="simple-currency-predicator"/>
    <property name="FOLDER_NAME" value="log/${FILE_NAME}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${CHARSET}</charset>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FOLDER_NAME}/${FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FOLDER_NAME}/${FILE_NAME}-%d{yyyyMMdd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>${CHARSET}</charset>
            <pattern>${PATTERN_RAW}</pattern>
        </encoder>
    </appender>

    <logger name="xyz" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>

</configuration>